<%include ../common/include_header.html%>

    <!-- about us slider -->
    <div id="about-slider">
        <div id="carousel-slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators visible-xs">
                <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-slider" data-slide-to="1"></li>
                <li data-target="#carousel-slider" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="/web/images/index3.jpg" class="img-responsive" alt="" style="min-height: 200px">
                </div>
                <div class="item">
                    <img src="/web/images/index4.jpg" class="img-responsive" alt="" style="min-height: 200px">
                </div>
                <div class="item">
                    <img src="/web/images/index5.jpg" class="img-responsive" alt="" style="min-height: 200px">
                </div>
            </div>

            <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>

            <a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div> <!--/#carousel-slider-->
    </div><!--/#about-slider-->


    <section id="feature" >
        <div class="container">
            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">

                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">公司简介</span><a href="/company_intro" class="pull-right a_color margin_right_10">更多</a>
                        </div>
                        <div class="feature-wrap">

                            <br>

                           <img src="/web/images/man3.jpg" style="float:left; padding-right: 30px;padding-bottom: 30px">

                            <p>&nbsp;&nbsp;广州博特建筑科技有限公司的地址在广州市增城区荔城街增城大道69号3幢301号，经营范围:工程和技术基础科学研究服务;材料科学研究、技术开发;门窗安装;五金产品批发;五金零售;商品批发贸易(许可审批类商品除外);新材料技术推广服务;新材料技术开发服务;建筑工程后期装饰、装修和清理;建材、装饰材料批发;智能化安装工程服务;计算机网络系统工程服务;非金属矿及制品批发(国家专营专控类除外);室内装饰、装修;网络技术的研究、开发，业务联系电话为13928917717.</p>
                        </div>


                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">

                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">公司新闻</span><a href="/company_dynamic" class="pull-right a_color margin_right_10">更多</a>
                        </div>
                        <br>

                        <table class="table table-hover" id="tabContent">

                        </table>


                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">

                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">人力资源</span><a href="/recruit" class="pull-right a_color margin_right_10">更多</a>
                        </div>
                        <br>
                        <table class="table table-hover" id="tabContent_recruit">

                        </table>
                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">离职公示</span><a  href="/quit_notice" class="pull-right a_color margin_right_10">更多</a>
                        </div>
                        <br>
                        <table class="table table-hover" id="tabContent_quit">
                        </table>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->



    <section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>产品与服务</h2>
                <p class="lead">我们的服务我们的服务我们的服务我们的服务，《详情见广州博特官网产品中心》</p>
            </div>

           <div class="row">

               <div class="col-sm-6 col-md-4">
                   <div class="media services-wrap wow fadeInDown">
                       <div class="pull-left">
                           <img class="img-responsive" src="web/images/services/services1.png">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">建材采购</h3>
                           <p>玻璃建材相关咨询采购，
                               提供专业建议
                           </p>
                       </div>
                   </div>
               </div>

               <div class="col-sm-6 col-md-4">
                   <div class="media services-wrap wow fadeInDown">
                       <div class="pull-left">
                           <img class="img-responsive" src="web/images/services/services2.png">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">防火玻璃</h3>
                           <p>在这儿享受最彻底的优惠，
                               让你省心省力
                           </p>
                       </div>
                   </div>
               </div>

               <div class="col-sm-6 col-md-4">
                   <div class="media services-wrap wow fadeInDown">
                       <div class="pull-left">
                           <img class="img-responsive" src="web/images/services/services3.png">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">特种玻璃门窗</h3>
                           <p>低价高品质的建材，
                               体验到市场真正的实惠
                           </p>
                       </div>
                   </div>
               </div>

               <div class="col-sm-6 col-md-4">
                   <div class="media services-wrap wow fadeInDown">
                       <div class="pull-left">
                           <img class="img-responsive" src="web/images/services/services4.png">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">会员活动</h3>
                           <p>成为我们的会员，
                               享受尊贵服务          </p>
                       </div>
                   </div>
               </div>

               <div class="col-sm-6 col-md-4">
                   <div class="media services-wrap wow fadeInDown">
                       <div class="pull-left">
                           <img class="img-responsive" src="web/images/services/services5.png">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">方案咨询</h3>
                           <p>提供玻璃建材相关方案，
                               一站式解决问题
                           </p>
                       </div>
                   </div>
               </div>

               <div class="col-sm-6 col-md-4">
                   <div class="media services-wrap wow fadeInDown">
                       <div class="pull-left">
                           <img class="img-responsive" src="web/images/services/services6.png">
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">工程投标</h3>
                           <p>提供相关工程投标方案建议，
                               提供专业投标方案建议
                           </p>
                       </div>
                   </div>
               </div>
           </div><!--/.row-->

        </div><!--/.container-->
    </section><!--/#services-->



    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>有任何问题?</h2>
                            <p>请拨打13928917717或者在留言板留言，工作人员会尽快和你取得联系！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->    
    </section><!--/#conatcat-info-->

<!--add for test--> 
<script type="text/javascript">
    //$(function (){
     //       setInterval(getKKK, 1000)
      //          // getKKK();
       //     });
    
    //send a req to server
    function getKKK(){
        $.get("/getKKK",function(result){
            return
        });
    };
</script>

<%include ../common/include_footer.html%>
<script type="text/javascript" src="/web/layui/layui.js"></script>



<!--jquery修改首页导航样式-->
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
                , $ = layui.jquery;

        //页面初始化的时候执行
        $(function (){
            $("#main").addClass("active");
            getNews();
            getRecruits();
            getQuits();
        });

        //从后台获取数据函数，获取6条新闻数据
        function getNews(){
            $.get("web/get_news",function(result){
                //拼接html内容
                var tabContent="";
                //获取后台json数据
                var mydata=result.datas;
                for(var i=0;i<mydata.length;i++){
                    var tempStr='<tr id='+mydata[i]._id+'>'+
                                /*序号分页后也必须得变动,每页十条数据*/
                            '<td>'+(i+1)+'、 <a href="/news_detail/'+mydata[i]._id+'" class="a_color">'+mydata[i].title+'</a><span class="pull-right">'+mydata[i].time+'</span></td>'+
                            '</tr>'
                    tabContent=tabContent+tempStr;
                }
                //将拼接好的数据填入#tabContent中
                $("#tabContent").html(tabContent);
            });
        };

        //从后台获取数据函数，获取三条招聘信息
        function getRecruits(){
            $.get("web/get_recruits",function(result){
                //拼接html内容
                var tabContent="";
                //获取后台json数据
                var mydata=result.datas;
                for(var i=0;i<mydata.length;i++){
                    var tempStr='<tr id='+mydata[i]._id+'>'+
                                /*序号分页后也必须得变动,每页十条数据*/
                            '<td>'+(i+1)+'、职位：'+mydata[i].position+'<span class="pull-right">'+mydata[i].department+'</span></td>'+
                            '</tr>'
                    tabContent=tabContent+tempStr;
                }
                //将拼接好的数据填入#tabContent中
                $("#tabContent_recruit").html(tabContent);
            });
        };

        //从后台获取数据函数，获取离职公示信息
        function getQuits(){
            $.get("web/get_quits",function(result){
                //拼接html内容
                var tabContent="";
                //获取后台json数据
                var mydata=result.datas;
                for(var i=0;i<mydata.length;i++){
                    var tempStr='<tr id='+mydata[i]._id+'>'+
                                /*序号分页后也必须得变动,每页十条数据*/
                            '<td>'+(i+1)+'、姓名：'+mydata[i].name+'<span class="pull-right">'+mydata[i].department+'</span></td>'+
                            '</tr>'
                    tabContent=tabContent+tempStr;
                }
                //将拼接好的数据填入#tabContent中
                $("#tabContent_quit").html(tabContent);
            });
        };

    });


</script>
